nav .text-center{
  margin-top: 2vh;
  font-family: 'Great Vibes', cursive;
  font-size: 7vh;
  position: relative;
}

li .nav-link {
  margin-right: 8vh;
  padding: 1.5vh 0;
  font-size: 20px;
  font-family: 'Lora', serif;
}

form .float-right {
  position: relative;
  left: 22vh;
}

nav .collapse .navbar-collapse .bg-light{
  margin-right: 0vh;
}
div .navbar-nav{
  margin-left: 44vh;
}

nav .float-right{
  position: relative;
  top: -8vh;
  right: 10vh;
}
